[Desktop Entry]
Name=Network Manager
Name[ar]=مدير الشبكة
Name[as]=নে'টৱৰ্ক পৰিচালক
Name[be]=Кіраўнік сеткі
Name[be@latin]=Sietkavy kiraŭnik
Name[bg]=Аплетът NetworkManager
Name[bn_IN]=নেটওয়ার্ক ম্যানেজার
Name[ca]=Gestor de xarxes
Name[crh]=Şebeke İdarecisi
Name[cs]=Network Manager
Name[da]=Netværkshåndtering
Name[de]=Netzwerkmanager
Name[el]=Εφαρμογή NetworkManager
Name[es]=Gestor de la red
Name[et]=Võrguhaldur
Name[eu]=Sareko kudeatzailea
Name[fi]=Verkon hallinta
Name[fr]=Gestionnaire de réseau
Name[gl]=Xestor de rede
Name[gu]=નેટવર્ક વ્યવસ્થાપક
Name[he]=מנהל הרשתות
Name[hu]=Hálózatkezelő
Name[id]=Manajer Jaringan
Name[it]=Gestore rete
Name[kn]=ಜಾಲಬಂಧ ವ್ಯವಸ್ಥಾಪಕ
Name[lt]=Tinklo tvarkytuvė
Name[ml]=നെറ്റ്‌വര്‍ക്ക് മാനേജര്‍
Name[mr]=जाळं व्यवस्थापक
Name[nb]=NetworkManager
Name[or]=ନେଟୱର୍କ ପରିଚାଳକ
Name[pa]=ਨੈੱਟਵਰਕ ਮੈਨੇਜਰ
Name[pl]=Menedżer sieci
Name[pt]=Gestor de Rede
Name[pt_BR]=Gerenciador de redes
Name[ro]=Administrator rețea
Name[ru]=Network Manager
Name[sl]=Upravljalnik omrežja
Name[sr]=Управник мреже
Name[sr@latin]=Upravnik mreže
Name[sv]=Nätverkshanterare
Name[ta]=பிணைய மேலாளர்
Name[te]=నెట్వర్కు నిర్వాహిక
Name[zh_CN]=网络管理器
Name[zh_HK]=網絡管理員
Name[zh_TW]=網路管理員
Comment=Control your network connections
Comment[ar]=تحكم في اتصالاتك الشبكية
Comment[as]=আপোনাৰ নে'টৱৰ্ক সংযোগ নিয়ন্ত্ৰণ কৰক
Comment[be]=Кіраваньне вашымі сеткавымі далучэньнямі
Comment[be@latin]=Kiruj sietkavymi spałučeńniami
Comment[bg]=Управление на мрежовитe връзки
Comment[bn_IN]=আপনার নেটওয়ার্ক সংযোগ নিয়ন্ত্রন করুন
Comment[ca]=Controleu les vostres connexions de xarxa
Comment[crh]=Şebeke bağlantılarınızı kontrol edin
Comment[cs]=Zkontrolovat svá připojení k síti
Comment[da]=Administrér dine netværksforbindelser
Comment[de]=Verwaltung der Netzwerkverbindungen
Comment[el]=Ελέγξτε τις συνδέσεις δικτύου
Comment[es]=Controle sus conexiones de red
Comment[et]=Võrguühenduste haldamine
Comment[eu]=Kontrolatu zure sareko konexioak
Comment[fi]=Hallitse verkkoyhteyksiä
Comment[fr]=Contrôler vos connexions réseau
Comment[gl]=Controle as súas conexións de rede
Comment[gu]=તમારા નેટવર્ક જોડાણોને નિયંત્રિત કરો
Comment[he]=שלוט בחיבורי הרשת שלך
Comment[hu]=Hálózati kapcsolatok felügyelete
Comment[id]=Atur sambungan jaringan Anda
Comment[it]=Controlla le connessioni di rete
Comment[kn]=ನಿಮ್ಮ ಜಾಲಬಂಧ ಸಂಪರ್ಕಗಳನ್ನು ನಿಯಂತ್ರಿಸಿ
Comment[lt]=Jūsų tinklo ryšių valdymas
Comment[ml]=നിങ്ങളുടെ നെറ്റ്‌വര്‍ക്ക് കണക്ഷനുകള്‍ നിയന്ത്രിക്കുക
Comment[mr]=जाळं जुळवणी नियंत्रीत करा
Comment[nb]=Kontroller dine nettverksforbindelser
Comment[or]=ଆପଣଙ୍କର ନେଟୱର୍କ ସଂଯୋଗଗୁଡ଼ିକୁ ନିୟନ୍ତ୍ରଣ କରନ୍ତୁ
Comment[pa]=ਆਪਣੇ ਨੈੱਟਵਰਕ ਕੁਨੈਕਸ਼ਨ ਕੰਟਰੋਲ ਕਰੋ
Comment[pl]=Zarządzanie połączeniami sieciowymi
Comment[pt]=Controle as suas ligações de rede
Comment[pt_BR]=Controle suas conexões de rede
Comment[ro]=Controlați conexiunile la rețea
Comment[ru]=Управление сетевыми соединениями
Comment[sl]=Nadzor nad omrežnimi povezavami
Comment[sr]=Подешава умрежавање рачунара
Comment[sr@latin]=Podešava umrežavanje računara
Comment[sv]=Kontrollera dina nätverksanslutningar
Comment[ta]=உங்களது பிணையத்தின் இணைப்புகளை கட்டுப்படுத்து
Comment[te]=మీ నెట్వర్కు అనుసంధానములను నియంత్రించండి
Comment[zh_CN]=控制您的网络连接
Comment[zh_HK]=控制你的網絡連線
Comment[zh_TW]=控制您的網路連線
Icon=nm-device-wireless
Exec=nm-applet --sm-disable
Terminal=false
Type=Application
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=NetworkManager
X-GNOME-Bugzilla-Component=general
X-GNOME-Autostart-enabled=true
